.questions_container{
    *,*:before,*:after{
        box-sizing: inherit;
      }
.jumbotron{
    background: #3454D1;
    color: #fff;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
.questions_box{
    background: #fff;
    margin-top:-80px
}
input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  .active-label, label:focus, label:hover, label:active, input:checked + label {
    color: #FF9800;
  }
  .active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
    background: white;
    border-color: #FF9800;
  }
  label {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    display: block;
    padding: 0.8rem 1rem 0.8rem 3rem;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    /**
     * This is the radio fake dot basically
     */
  }
  label:first-of-type {
    border: 0;
  }
  label:before {
    content: "";
    position: absolute;
    left: 0.8rem;
    top: 1.2rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: .2rem solid #ccc;
  }

  input[name=options]:checked + label:before {
    border-color: white;
    border: none;
    background: #FF9800;
  }
  input[name=options]:checked + label {
    color: #fff;
    background: #FF9800;
  }
  
  
  input:disabled + label {
    background: #efefef;
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
  }
  input:disabled + label:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }
  input:disabled + label:before {
    border-color: white;
    background: white;
  }
}